@page
@using ViewComponents
@model NetBaires.Pages.Speakers.DetailModel
@{
    ViewData["Title"] = "Detail";
}
@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel(Model.Speaker.Name, "Speaker"))

<main>
    <div class="lgx-post-wrapper">
        <!--News-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <article>
                            <header>
                                <figure>
                                    <img style="width: 500px; height: 560px;" src="@Model.Speaker.ImageUrl" alt="New" />
                                </figure>
                                <div class="text-area">
                                    <div class="speaker-info">
                                        <h1 class="title"><a href="speaker.html">@Model.Speaker.Name</a></h1>
                                        <h4 class="subtitle">@Model.Speaker.Email</h4>
                                    </div>
                                    <ul class="list-inline lgx-social">
                                        <li><a href="@Model.Speaker.Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="@Model.Speaker.Facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                        <li><a href="@Model.Speaker.Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        @*<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <li><a href="@Model.Speaker.Facebook"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>*@
                                    </ul>
                                </div>
                            </header>
                            <section>
                                <p>
                                    @Model.Speaker.Bio
                                </p>
                                @*<blockquote>
                                        <p>Suspendisse hendrerit et sapien ut pretium. Aenean nulla ipsum, facilisis eu porta non, rutrum sit amet nibh. Quisque id diam feugiat, pharetra arcu eget, bibendum tortor. </p>
                                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>*@
                            </section>
                            <footer>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="title">Share</h4>
                                        <div class="lgx-share">
                                            <ul class="list-inline lgx-social">
                                                <li><a href="@Model.Speaker.Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="@Model.Speaker.Facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                                <li><a href="@Model.Speaker.Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                        </article>
                    </div>
                </div>
            </div><!-- //.CONTAINER -->
        </section>
        <!--News END-->
    </div>
</main>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Image
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Events)
            {
                <tr>
                    <td>
                        <a asp-page="../Events/Detail" class="btn btn-default" asp-route-id="@item.Id"> @item.Name</a>

                    </td>
                    <td>
                        <img style="width:300px" src="@item.ImageUrl" />
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>*@

