@model List<Models.MemberViewModel>

<div class="container">
    <div class="row">
        @if (Model != null)
        {

            for (int i = 0; i < Model.Count; i++)
            {
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="lgx-single-speaker">
                        <figure>
                            <a class="profile-img" href="speakers.html"><img style="width:330px;height:352px" src="@Model[i].ImageUrl" alt="Speaker" /></a>
                            <figcaption>
                                <div class="social-group">
                                    @if (@Model[i].Twitter != null)
                                    {
                                        <a class="sp-tw" href="@Model[i].Twitter"><i class="fa fa-twitter"></i></a>
                                    }
                                    @if (@Model[i].Facebook != null)
                                    {
                                        <a class="sp-fb" href="@Model[i].Facebook"><i class="fa fa-facebook"></i></a>
                                    }

                                    @*@if (@Model[i].Facebook != null)
                                    {
                                        <a class="sp-insta" href="@Model[i].Facebook"><i class="fa fa-instagram"></i></a>
                                    }*@

                                    @if (@Model[i].Linkedin != null)
                                    {
                                        <a class="sp-in" href="@Model[i].Linkedin"><i class="fa fa-linkedin"></i></a>
                                    }

                                </div>
                                <div class="speaker-info">
                                    <h3 class="title"><a asp-page="/Speakers/Detail" asp-route-id="@Model[i].Id">@Model[i].Name</a></h3>
                                    <h4 class="subtitle">@Model[i].Name</h4>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            }
        }
    </div>
</div>
