@page
@using ViewComponents
@model Sponsors.DetailModel
@await Component.InvokeAsync("Breadcrumb", new BreadcrumbViewModel(@Model.Sponsor.Name, "Sponsor"))

<main>
    <div class="lgx-post-wrapper">
        <!--News-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <article>
                            <header>
                                <figure>
                                    <img style="width: 320px;" src="@Model.Sponsor.LogoUrlHigh" alt="New" />
                                </figure>
                                <div class="text-area">
                                    <div class="speaker-info">
                                        <a href="@Model.Sponsor.Url">
                                            <h1 class="title">
                                                @Model.Sponsor.Name
                                        </h1>
                                        <h4 class="subtitle">@Model.Sponsor.Url</h4>
                                    </a>
                                </div>
                                @*<ul class="list-inline lgx-social">
                                        <li><a href="@Model.Speaker.Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="@Model.Speaker.Facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                        <li><a href="@Model.Speaker.Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                        @*<li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                            <li><a href="@Model.Speaker.Facebook"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>*@
                            </div>
                        </header>
                        <section>
                            <p>
                                @Model.Sponsor.Info
                            </p>
                            @*<blockquote>
                                    <p>Suspendisse hendrerit et sapien ut pretium. Aenean nulla ipsum, facilisis eu porta non, rutrum sit amet nibh. Quisque id diam feugiat, pharetra arcu eget, bibendum tortor. </p>
                                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                </blockquote>*@
                        </section>
                        @*<footer>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h4 class="title">Share</h4>
                                        <div class="lgx-share">
                                            <ul class="list-inline lgx-social">
                                                <li><a href="@Model.Speaker.Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li><a href="@Model.Speaker.Facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                                                <li><a href="@Model.Speaker.Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </footer>*@
                    </article>
                </div>
            </div>
        </div><!-- //.CONTAINER -->
    </section>
    <!--News END-->
</div>
</main>
<section>
    <div id="lgx-news" class="lgx-news">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading">
                            <h2 class="heading">Eventos en los que @Model.Sponsor.Name nos apoyo</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @await Component.InvokeAsync("EventsList", Model.Events)
                </div>
            </div><!-- //.CONTAINER -->
        </div><!-- //.INNER -->
    </div>
</section>

<section>
    <div id="lgx-photo-gallery" class="lgx-gallery-popup lgx-photo-gallery-normal lgx-photo-gallery-black">
        <div class="lgx-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="lgx-heading lgx-heading-white">
                            <h2 class="heading">Fotos en las que participo @Model.Sponsor.Name</h2>
                            @*<h3 class="subheading">Algunas fotos de los eventos pasados!!</h3>*@
                        </div>
                    </div>
                </div>
                @await Component.InvokeAsync("PhotosPreview", Model.Photos)
            </div>
        </div>
    </div>
</section>
